/* =====================League User Details=================== */
.UserDetailsALL {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
background-color: rgb(2, 0, 20); }
.UserDetailsSearch {
    flex: 50%;
    max-width: auto;
    align-self: flex-end;
    padding: 0rem 2rem;
    background-color: rgb(2, 0, 20);
    height: 790px;
  }
  .UserDetailsWeek {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    font-family: 'Bebas Neue', sans-serif; 
    text-align: center;
    color: #ffffff; 
  }
  
.UserDetailsList {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: auto;
    overflow: hidden;
    background-color: rgb(2, 0, 20);
  }
.UserDetailsHH {
  background-color: rgb(2, 0, 20);
  color: white;
  font-size: 3rem; 
  font-weight: bold;
  text-align: left; 
}
.UserDetailsHH2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.UserDetailsHH2 h3 {
  margin: 0;
  padding-right: 2%;
}

.UserDetailsTradeBtn {
  padding: 0px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
  transition: background-color 0.3s ease;
  margin-right: auto;
  margin-top: -1px;
}

.UserDetailsTradeBtn:hover {
  background-color: #0056b3;
}

.UserDetailsParent {
  display: flex;
  flex-direction: row; 
  background-color: rgb(2, 0, 20); max-width: auto;
  margin-left: 5%;
}
.UserDetailsTeam {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  vertical-align: middle;
  text-align: left;
  background-color: rgb(2, 0, 20);
  width: 87%;
}
.UserDetailsPlayerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 2px solid #ffffff;
  background-color: rgb(2, 0, 20); height: 20px;
}
.UserDetailsPlayerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    height: 38px;
    background-color: rgb(2, 0, 20) !important;
  }
.UserDetailsPositionLabel {
    width: 50px;
    flex-shrink: 0;
    font-weight: 600;
    color: #ffffff;
  }
  .UserDetailsPlayerName {
    flex: 3;
    min-width: 200px;
    text-align: left;
    margin-right: 1rem;
    color: #ffffff;
  }
  .UserDetailsPlayerStats {
    flex: 4;
    min-width: 270px;
    text-align: left;
    font-size: 0.9rem;
    color: #444;
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
  }
  .UserDetailsPointsGroup {
    display: flex;
    gap: 0.2rem;
    margin-left: auto; 
    align-items: right;
    background-color: rgb(2, 0, 20);
  }
  .UserDetailsPoints,
  .UserDetailsPoints1 {
    text-align: right;
    min-width: 60px;
    font-weight: bold;
    font-size: 0.9rem;
    color: #ffcc00;
  }
  .UserDetailsPointsH,
  .UserDetailsPoints1H {
    text-align: right;
    min-width: 60px;
    font-weight: bold;
    font-size: 0.9rem;
    color: #ffffff;
  }
  .UserDetailsDrag {
    flex: 5;
    font-size: 0.875rem;
    cursor: grab;
    margin-left: 1rem;
    text-align: right;
    color: #ffffff;
  }
  .UserDetailsE {
    color: red;
    font-size: 0.875rem;
    margin-left: 1rem;
    text-align: left;
    max-width: 15rem;
  }