.tabbed-carousel {
    width: 100%;
  }
  
  .tabs {
    display: flex;
    border-bottom: 2px solid #ccc;
    background: #f0f0f0;
    width: 81%;
    margin: 0 auto;
  }
  
  .tab {
    flex: 1;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    background: rgb(2, 0, 20);
    transition: background 0.3s;
    width: 90%;

  }
  
  .tab.active {
    background: #01097e;
    font-weight: bold;
    border-bottom: 2px solid white;
  }
  
  .carousel {
    position: relative;
    width: 100%;
  }
  
  .slide {
    display: none;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .slide.active {
    display: block;
  }
  